.page {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  background-color: #000;
  color: #fff;
}

.header {
  margin: 0 auto;
  width: 100%;
  padding: 45px 0 40px;
  border-bottom: 1px solid rgba(54,54,54,.7);
  box-sizing: border-box;
}

.header__logo {
  width: 142px;
  display: block;
}

.main {
  margin: 0 auto;
  width: 100%;
}

.profile {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 30px;
}

.profile__info {
  margin-right: auto;
}

.profile__name-container {
  position: relative;
}

.profile__name {
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
}

.profile__edit-button {
  position: absolute;
  right: -42px;
  bottom: 9px;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  background-color: transparent;
  background-image: url(./images/Pen.svg);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  box-sizing: border-box;
  cursor: pointer;
}

.profile__profession {
  margin: 7px 0 0;
  font-size: 18px;
  line-height: 1.22;
}

.add-button {
  width: 150px;
  height: 50px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: transparent;
  background-image: url(./images/Plus.svg);
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: center;
  cursor: pointer;
}

.elements {
  padding-top: 50px;
}

.elements__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  column-gap: 17px;
  row-gap: 20px;
  justify-content: center;
}

.elements__card {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  grid-template-rows: 282px;
  grid-template-columns: 282px;
}

.elements__image {
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.elements__image-title-container {
  margin: 26px 18px 24px 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.elements__title {
  margin: 0;
  color: #000;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 80%;
}

.elements__like-button {
  width: 22px;
  height: 19px;
  background-color: transparent;
  background-image: url(./images/Heart.svg);
  background-size: cover;
  border: none;
  cursor: pointer;
}

.elements__like-button_active {
  background-image: url(./images/Heart-Active.svg);
}

.footer {
  margin: 0 auto;
  padding: 66px 0 60px;
  width: 100%;
}

.footer__content {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #545454;
}

@media screen and (max-width: 1023px) {
  .header {
    width: calc(100% - 19px * 2);
  }
  .main {
    width: calc(100% - 19px * 2);
  }
  .footer {
    width: calc(100% - 19px * 2);
  }
}

@media screen and (max-width: 767px) {
  .header {
    width: 100%;
  }
  .header__logo {
    width: 104px;
    margin-left: 27px;
  }

  .profile__name {
    font-size: 27px;
    line-height: 1.22;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
    background-size: 7.5px;
    right: -27px;
    bottom: 7px;
  }
  .profile__profession {
    font-size: 14px;
    line-height: 1.21;
  }
  .footer__content {
    font-size: 14px;
    line-height: 1.21px;
  }
}

@media screen and (max-width: 635px) {
  .header {
    padding: 28px 0 31px;
  }
  .profile {
    padding-top: 42px;
    flex-direction: column;
  }
  .profile__avatar {
    margin-right: 0;
  }
  .profile__info {
    margin: 27px 0 0;
  }
  .profile__name {
    text-align: center;
  }
  .profile__profession {
    text-align: center;
    margin: 8px 0 0;
  }
  .add-button {
    margin-top: 32px;
    width: 282px;
    background-size: 16px;
  }
  .elements {
    padding-top: 36px;
  }
  .footer {
    padding: 56px 0 36px;
  }
}
